@import "../../styles/variables.scss";

.Modal-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	background: rgba(black, 0.4);
	display: flex;
}

.Modal {
	margin: auto;
	background: white;
	min-width: 600px;
}

.Modal-header {
	display: flex;
	padding: 15px;
	color: white;
	background: #232532;
	h2 {
		margin: auto;
		flex: 1;
		font-size: 1em;
		font-weight: bold;
	}
	i {
		margin: auto;
		cursor: pointer;
		font-size: 1.2em;
		transition: color 0.2s;
		&:hover {
			color: #ccc;
		}
		&:active {
			color: #888;
		}
	}
}

.Modal-content {
	padding: 15px;
}
